services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: reto_backend
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/reto_backend
      JWT_SECRET: cambia_este_valor
      JWT_EXPIRE_MINUTES: "60"
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  pg_data:
